.burger-menu {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.menu-open {
  position: absolute;
  top: 10px;
  right: 10px;
}
.burger-menu:hover,
.burger-menu:focus {
  fill: $accent-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $hero-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .burger-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $hero-color;
}

.mobile-menu__item-link--current {
  text-decoration: none;
  color: $accent-color;
}
.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  margin-bottom: 36px;
  &:last-child {
    margin-bottom: 302px;
    @media screen and (max-width: 479px) {
      &:last-child {
        margin-bottom: 150px;
      }
    }
  }
  @media screen and (max-width: 479px) {
    font-size: 25px;
  }
}
.mobile-menu__item--link {
  color: $title-color;
  text-decoration: none;
}
.burger-address__item {
  margin-bottom: 32px;
}
.burger-address__item--tel {
  text-decoration: none;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: $accent-color;
  @media screen and (max-width: 479px) {
    font-size: 25px;
  }
}

.burger-address__item--link {
  text-decoration: none;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $main-text-color;
}
.burger-link {
  display: flex;
  margin-top: 64px;
}
.burger-link__item::after {
  content: '|';
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(212, 212, 212);
  &::after:last-child {
    display: none;
  }
}

.burger-link__item {
  display: flex;
  color: $accent-color;
  align-items: center;
  // padding-left: 10px;
  // &:first-child {
  //   padding-left: 0;
  // }
  // padding-right: 10px;
  // &:last-child {
  //   padding-right: 0;
  // }
}
.burger-link__item--socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: $accent-color;
  @media screen and (max-width: 479px) {
    font-size: 10px;
  }
}
