.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantage__info {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.advantage__item {
  width: 450px;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 1 * 30px) / 2);
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
    width: 270px;
    &:first-child {
      margin-left: 0px;
    }
  }
}
.advantage__icon {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  background-color: $background-name;
  justify-content: center;
  align-items: center;
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantage__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
