.logo {
  color: $title-color;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--header {
    color: $accent-color;
  }

  &--footer {
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &--foot {
    color: $hero-color;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}
