body {
  font-family: $main-font;
  color: $main-text-color;

  letter-spacing: 0.02em;
}
header {
  border-bottom: 1px solid $border-header;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
