$main-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$hero-color: #ffffff;
$background-hero: #2f303a;
$background-name: #f5f4fa;
$background-button-hover: #188ce8;
$border-header: #ececec;
$border-gallery: #eeeeee;
$border-partners: #afb1b8;

$main-font: roboto, sans-serif;
$logo-font: raleway, sans-serif;
